$mainBgColor: #ffffff;
$secondaryBgColor: #dbdbdb;
$pageBgColor: #f8f8f8;
$darckTextColor: #121417;
$lightTextColor: #fcfcfc;
$accentTextColor: #8c8c8c;
$mainAccentColor: #85aa9f;
$secondaryAccentColor: #a5c0b8;
$hoverAnimation: 0.2s ease;
